body {
    margin: 0; /* 去掉默认外边距 */
    padding: 0; /* 去掉默认内边距 */
    font-family: 'Arial', sans-serif; /* 设置字体 */
    background-color: #f0f0f5; /* 背景颜色 */
    width: 100%; /* 占据整个宽度 */
    height: 100%; /* 占据整个高度 */
}

.App {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    height: 100vh; /* 占据整个视口高度 */
}

.layout {
    width: 100%; /* 占据整个宽度 */
}

.header {
    background-color: #001529; /* 头部背景颜色 */
}

.footer {
    text-align: center; /* 底部文本居中 */
}

.content {
    padding: 20px; /* 内容内边距 */
    background-color: #ffffff; /* 内容背景颜色 */
    flex-grow: 1; /* 占据剩余空间 */
    overflow: auto; /* 允许滚动 */
}
